.div-product{
	margin-top: 2%;
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.div-product img{
    top: 0%;
    height: 357px;
    width: 357px;
    margin: 20px;
    border: 1px solid #B0B0B0;
}

.div-nombre{
	    /* height: 66px; */
        font-family: 'Montserrat', sans-serif;
        /* display: flex; */
        color: #717171;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 19px;
        position: absolute;
        width: 100%;
        bottom: 8%;
        padding-top: 10%;
}
@media only screen and (max-width:600px){
	.div-nombre{
		font-size: 90%;
	}
}

.home{
	padding:5px 300px;
	height: 110%;

}

.home div{
	line-height: 25px;
}

.categorias hr{
	position: relative;
    width: 93%;
    left: 2%;
    margin-top: 5.5%;
    height: 1px;
    border: 1px;
    border-radius: 10px;
    background-color: black;
}

.categorias span{
	font-family: 'Montserrat', sans-serif;
	color: #32398C; 
	font-size: 47px;
	padding-left: 45px;
	padding-top: 20px;
	position: relative;
	top: 20px;
}

.categorias{
	font-family: 'Montserrat', sans-serif;
	margin-top: 8.7%;
	margin-bottom: 7.2%;
}

.categorias_header{
	font-size: 18px;

}

.efecto:hover {
    opacity: 1;
    transition: 1s;
}

.efecto {
    position: absolute;
    /* opacity: 0; */
    /* background-color: rgba(78, 79, 81, 0.75); */
    width: 304px;
    height: 130px;
    z-index: 999;
    /* margin: 20px; */
    display: table-cell;
    vertical-align: middle;
}

.central {
    padding: inherit;
    border: 1px solid white;
    border-radius: 0%;
    display: inline-block;
    position: absolute!important;
    color: white!important;
	width: 45px;
    height: 45px;
    top: 50%!important;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.efecto i {
    padding-top: 20%;
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 31%;
    top: 10%;
}

.nombre-categorias{
        position: absolute;
        /* opacity: 0; */
        padding-left: 280px;
        padding-top: 12%;
        /* background-color: rgba(78, 79, 81, 0.75); */
        width: 357px;
        height: 357px;
        z-index: 999;
        margin: 20px;
        display: table-cell;
        vertical-align: middle;
}

.hr-efecto{
    width: 100px;
    position: absolute;
    top: 88%;
    background: #8D302F;
    height: 1px;
    color: #8D302F;
    right: -206px;
}