.servicios{
	padding-top: 15px;
}

.titulo-servicio{
	text-align:center;
	color: #8D2D2C;
	font-size: 22px;
}

.img-servicio{
	padding-top: 42px;
	height: 100%;
}

.items-servicio{
	margin-top: 50px;
}

.texto-servicio{
	text-align:center;
	color: #595959;
	font-size: 19px;
	margin-top: 30px;
}

.mtto-line{
	width: 100px;
	height: 2px!important;
	background-color: red!important;
    margin-top: 10px;
    border: 0px red;
}
